DateTime==4.3
numpy
cloudpickle==1.3.0
joblib
sklearn
scipy
tqdm
pycairo
grpcio
pylint
pandas
mock
tox
isort
pandas-datareader
pygad
fire
statsmodels
ray
psutil
Bottleneck
ta
yfinance
pyyaml
plotly
click
mpi4py==3.0.3
mplfinance
matplotlib
ipykernel
