DateTime==4.3
numpy
cloudpickle==1.3.0
joblib
scikit-learn
scipy
tqdm
pycairo
grpcio
pylint
pandas
pytest
pytest-cov
mock
tox
isort
pandas-datareader
pygad
fire
statsmodels
ray
psutil
Bottleneck
ta
yfinance
black
pyyaml
plotly
click
mpi4py==3.0.3
mplfinance
matplotlib
